# Cloudcoaching - Excluded from GitHub sync
# Vector database files
.rag_db/project_vectors.lance

# Firebase logs
firebase*.logs

# Firebase configuration
firebase.json

# Node modules
node_modules/
cd code/frontend/node_modules/

# docs
docs-hk/